<div class="card rounded-0 covidBg-2" id="profile-menu" data-card-height="150">
<div class="card-top">
<a href="#" class="close-menu float-end me-2 text-center mt-3 icon-40 notch-clear"><i class="fa fa-times color-white"></i></a>
</div>
<div class="card-bottom">
<h1 class="color-white ps-3 mb-n1 font-22">{{name}}</h1>
<p class="mb-2 ps-3 font-12 color-white opacity-50">Welcome to the {{siteName}}</p>
</div>
<div class="card-overlay bg-gradient"></div>
</div>
<div class="mt-4"></div> 
<h6 class="menu-divider">Live Data</h6>
<div class="list-group list-custom-small list-menu">
<a id="nav-beds" href="/beds">
<i class="fas fa-bed gradient-blue-dark color-white"></i>
<span>Beds Availability</span> 
<i class="fa fa-angle-right"></i>
</a>
<a id="nav-plasma" href="/plasma">
<i class="fa fa-heart gradient-blue-dark color-white"></i>
<span>Plamsa Availability</span>
<i class="fa fa-angle-right"></i>
</a> 
  <a id="nav-oxygen" href="/oxygen">
<i class="fas fa-seedling gradient-blue-dark color-white"></i>
<span>Oxygen Availability</span>
<i class="fa fa-angle-right"></i>
</a>
<a id="nav-hospitals" href="/twitter-data">
<i class="fas fa-hashtag gradient-blue-dark color-white"></i>
<span>Twitter Data</span>
<i class="fa fa-angle-right"></i>
</a>

<a id="nav-pages" href="/contacts">
<i class="fas fa-phone-alt gradient-blue-dark color-white"></i>
<span>Emergency Contacts</span>
<i class="fa fa-angle-right"></i>
</a>
</div>



<h6 class="menu-divider mt-4">Blood and Plasma Donate</h6>
<div class="list-group list-custom-small list-menu">

<a id="nav-welcome" href="/donate">
<i class="fas fa-heartbeat gradient-red color-white"></i>
<span>Donate</span>
<i class="fa fa-angle-right"></i>
</a>
<a id="nav-homepages" href="/donorslist">
<i class="fas fa-chart-line gradient-red color-white"></i>
<span>Donors List</span>
<i class="fa fa-angle-right"></i>
</a>

<a id="nav-components" href="/request">
<i class="fas fa-clinic-medical gradient-red color-white"></i>
<span>Request Blood or Plasma</span>
<i class="fa fa-angle-right"></i>
</a>
<a id="nav-request" href="/requestslist">
<i class="fas fa-phone-alt gradient-red color-white"></i>
<span>Requested List</span>
<i class="fa fa-angle-right"></i>
</a>
</div>



<h6 class="menu-divider mt-4">others</h6>
<div class="list-group list-custom-small list-menu">
<a href="/terms-and-conditions" id="nav-terms">
<i class="fa fa-cog gradient-highlight color-white"></i>
<span>Terms & Conditions</span>
<i class="fa fa-angle-right"></i>
</a>
<a id="nav-media" href="/about">
<i class="fas fa-hand-holding-heart gradient-highlight color-white"></i>
<span>About Us</span>
<i class="fa fa-angle-right"></i>
</a>
<a id="nav-dev" href="/developer">
<i class="fas fa-user-graduate gradient-highlight color-white"></i>
<span>Developer</span>
<i class="fa fa-angle-right"></i>
</a>

<a id="nav-contact" href="#" data-menu="menu-feedback">
<i class="fa fa-envelope gradient-highlight color-white"></i>
<span>Feedback</span>
<i class="fa fa-angle-right"></i>
</a>
<a href="/logout">
    <i class="fas fa-sign-out-alt gradient-highlight color-white"></i>
    <span>Logout</span>
    <i class="fa fa-angle-right"></i>
    </a>
</div>
{{!-- <h6 class="menu-divider mt-4">Social Media</h6>
<div class="list-group list-custom-small list-menu">
<a href="#">
<i class="fab fa-instagram gradient-red color-white"></i>
<span>Instagram</span>
<i class="fa fa-angle-right"></i>
</a>
<a href="#">
<i class="fab fa-twitter gradient-blue color-white"></i>
<span>Twitter</span>
<i class="fa fa-angle-right"></i>
</a>
<a href="#">
<i class="fab fa-facebook-f gradient-blue-dark color-white"></i>
<span>Facebook</span>
<i class="fa fa-angle-right"></i>
</a> --}}
{{!-- <a href="#">
<img src="images/pictures/6s.jpg">
<span>Jane Louder</span>
<i class="fa fa-angle-right"></i>
</a> --}}
</div>
<h6 class="menu-divider font-10 mt-4">Made with <i class="fa fa-heart color-red-dark pl-1 pr-1"></i> by Need AP team in <span class="copyright-year">2021</span></h6>









