<div class="content">
<img src="images/qr/needap.png" width="250" class="mx-auto">
<h1 class="text-center pt-4 font-30 mb-n1">#Scan Me</h1>
<p class="text-center color-highlight font-600">Scan this code with your phone or tablet to preview it.</p>
</div>