<div class="menu-title">
{{!-- <p class="color-highlight">Join Now for Free</p> --}}
<h1 class="font-24">Remove my Information</h1>
<a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
</div>
<div class="content mb-0 mt-0">
<form action="/remove-info" method="post">
<div class="form-field form-name">
<label class="contactNameField color-theme" for="removename">Your Name:<span>(required)</span></label>
<input type="text" name="removename" placeholder="Your name as displayed on the app" class="round-small" id="removename">
</div>

<div class="form-field form-name">
<label class="contactNameField color-theme" for="category">Categorized Under:<span>(required)</span></label>
<input type="text" name="category" placeholder="Where can we find your details on this app?" class="round-small" id="category">
</div>

<div class="form-field form-name">
<label class="contactNameField color-theme" for="removephone">Your Phone Number:<span>(required)</span></label>
<input type="text" name="removephone" placeholder="Phone number as displayed on this app?" class="round-small" id="removephone">
</div>

<div class="form-field form-name">
<label class="contactNameField color-theme" for="removeemail">Email Address:<span>(required)</span></label>
<input type="text" name="removeemail" placeholder="We'd like to send an email to apologize." class="round-small" id="removeemail">
</div>

<div class="form-field form-name">
<label class="contactNameField color-theme" for="reasoneremove">Reason for Removal:<span>(required)</span></label>
<input type="text" name="reasoneremove" placeholder="Please tell us why you want this entry removed." class="round-small" id="reasoneremove">
</div>


{{!-- 
<div class="input-style no-borders has-icon validate-field mb-4">
<i class="fa fa-user"></i>
<input type="name" class="form-control validate-name" id="removename" placeholder="Your name as displayed on the app" autocomplete="name" required name="removename">
<label for="removename" class="color-highlight font-11 font-500">Your name as displayed on the app</label>
<i class="fa fa-times disabled invalid color-red-dark"></i>
<i class="fa fa-check disabled valid color-green-dark"></i>
<em>(required)</em>
</div>
<div class="input-style no-borders has-icon validate-field mb-4">
<i class="fas fa-phone-alt"></i>
<input type="text" class="form-control validate-number" id="category" placeholder="Where can we find your details on this app?" autocomplete="category" required name="category">
<label for="category" class="color-highlight font-11 font-500">Where can we find your details on this app?</label>
<i class="fa fa-times disabled invalid color-red-dark"></i>
<i class="fa fa-check disabled valid color-green-dark"></i>
<em>(required)</em>
</div>

<div class="input-style no-borders has-icon validate-field mb-4">
<i class="fas fa-phone-alt"></i>
<input type="number" class="form-control validate-number" id="removenumber" placeholder="Where can we find your details on this app?" autocomplete="reportnumber" required name="removenumber">
<label for="removenumber" class="color-highlight font-11 font-500">Phone number as displayed on this app?</label>
<i class="fa fa-times disabled invalid color-red-dark"></i>
<i class="fa fa-check disabled valid color-green-dark"></i>
<em>(required)</em>
</div>

<div class="input-style no-borders has-icon validate-field mb-4">
<i class="fa fa-at"></i>
<input type="email" class="form-control validate-email" id="removeemail" placeholder="We'd like to send an email to apologize." required name="removeemail">
<label for="removeemail" class="color-highlight font-11 font-500">We'd like to send an email to apologize.</label>
<i class="fa fa-times disabled invalid color-red-dark"></i>
<i class="fa fa-check disabled valid color-green-dark"></i>
<em>(required)</em>
</div>

<div class="input-style no-borders has-icon validate-field mb-4">
<i class="fa fa-envelope"></i>
<input type="text" class="form-control validate-email" id="feedbackdata" placeholder="What you have to say about us?" required name="feedback"/>
<label for="feedbackdata" class="color-highlight font-11 font-500">Feedback</label>
<i class="fa fa-times disabled invalid color-red-dark"></i>
<i class="fa fa-check disabled valid color-green-dark"></i>
<em>(required)</em>
</div> --}}
{{!-- <div class="input-style no-borders has-icon mb-4">
<i class="fa fa-at"></i>
<textarea id="address" class="form-control validate-email" placeholder="What you have to say about us?" name="feedbackdata" required></textarea>
<label for="feedbackdata" class="color-highlight">Feedback</label>
<em class="mt-n3">(required)</em>
</div> --}}
{{!-- <p class="text-center pb-0 mb-n1 pt-1">
<a href="#" data-menu="menu-signin" class="text-center font-11 color-gray2-dark">Already Registered? Sign In Here.</a>
</p> --}}
<input type="submit" class="btn btn-full btn-m shadow-l rounded-s font-600 bg-blue-dark mt-4" style="width: 100%;">
</form>
</div>
